.item-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;

  border-top: 2px solid rgb(109, 176, 221);

  width: 500px;
  margin: 50px auto;

  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
}

.img-title-parent {
  display: flex;
  align-items: center;
  width: 33%;
}

.img-title-parent img {
  border-radius: 3px;
  width: 70px;
  height: 70px;
  margin: 4px 0 1px 0;
}

.img-title-parent p {
  font-size: 18px;
  margin-right: 10px;
}

.price {
  color: #454545;
  font-size: 18px;
  font-weight: 500;
}



@media (max-width: 800px) {
  .item-container {
    width: 380px;
  }

  .price {
    font-size: 15px;
  }

  .img-title-parent p {
    font-size: 14px;
  }
}
